* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-weight: 500;
  background-size: cover;
  color: #fff;
  background-image: url('../momentum/assets/images/day/03.jpg');

  transition: background-image 1s ease-in-out;
}
.main_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content_hide {
  visibility: hidden;
}

.getInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  position: absolute;
  left: 35%;
  top: 40%;
  max-width: 35%;
  width: 100%;

  background: rgba(0,0,0,0.2);
  border-radius: 100px;
  opacity: 0.85;
}
.getInfo h1 {
  margin: 2%;
}

.name, .age {
  opacity: 0;
  font-size: 32px;
}
.weather{
  position: absolute;
  right: 2%;
  top: 5%;
  max-width: 15%;
  width: 100%;

  padding: 2% 0;

  background: rgba(0,0,0,0.2);
  border-radius: 100px;
  opacity: 0.85;
}

.weather_block{
  display: flex;
  align-items: flex-start ;
}
.weather_city{
  margin-bottom: 0;
}

#time {
  font-size: 600%;
  /* text-shadow: 1px 1px 2px black, 0 0 1em aquamarine; */
}
#date {
  font-size: 300%;
  /* text-shadow: 1px 1px 2px black; */
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
h3 {
  padding: 0px 35px;
}
#focus {
  max-width: 55%;
  width: 100%;
  opacity: 0.76;
  margin-top: 10%;
  font-size: 32px;

  border-bottom: honeydew solid 1px;
  border-radius: 10px;
  /* opacity: 0.75; */
}

#newBackgr {
  position: absolute;
  right: 2%;
  top: 85%;
  cursor: pointer;
  
  width: 4em;
  height: 4em;
  /* color: goldenrod; */
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.quote{
  background: rgba(0,0,0,0.2);
  max-width: 100%;
  width: 80%;
  border-radius: 100px;
  margin-top: 8%;
  opacity: 0.85;
}

#quote{
  padding-top: 5px;
  font-size: 20px;
}
#quote_author{
  margin-top: 16px;
  font-size: 26px;
  color: lightblue;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
